---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import Project from "../components/Project.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import EmailIcon from "../components/icons/Email.astro";
---

<Layout title="Portafolio | Juana Solano" description="Programador web">
	<main class="px-8">
		<section class="w-full lg:w-[700px] mx-auto py-44">
			<p class="font-semibold" data-section="main" data-value="hi">
				Hola, mi nombre es
			</p>
			<h1 class="text-5xl font-bold flex justify-right flex-row">
				Juana Solano
			</h1>
			<p
				class="font-extralight my-3"
				data-section="main"
				data-value="subtitle"
			>
				P r o g r a m a d o r &#160 &#160 W e b
			</p>
			<ul class="flex flex-row gap-6" id="section-contact">
				<li>
					<a href="https://github.com/jsolano0112">
						<GitHubIcon />
					</a>
				</li>
				<li>
					<a
						href="https://www.linkedin.com/in/juana-solano-07686b1b0/"
					>
						<LinkedinIcon/>
					</a>
				</li>
				<li>
					<a href="mailto:jsolanoenciso199@gmail.com">
						<EmailIcon/>
					</a>
				</li>
			</ul>
		</section>
		<section class="w-full lg:w-[700px] mx-auto py-44">
			<span>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
					class="lucide lucide-flask-conical"
					><path
						d="M10 2v7.527a2 2 0 0 1-.211.896L4.72 20.55a1 1 0 0 0 .9 1.45h12.76a1 1 0 0 0 .9-1.45l-5.069-10.127A2 2 0 0 1 14 9.527V2"
					></path><path d="M8.5 2h7"></path><path d="M7 16h10"
					></path></svg
				>
			</span>
			<h2 class="text-3xl font-bold flex justify-right flex-row mb-10" data-section="main" data-value="experienceTitle">
				Experiencia
			</h2>
			<Experience />
			<section class="w-full lg:w-[700px] mx-auto py-44">
				<span>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="lucide lucide-briefcase"
						><rect width="20" height="14" x="2" y="7" rx="2" ry="2"
						></rect><path
							d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"
						></path></svg
					>
				</span>
				<h2
					class="text-3xl font-bold flex justify-right flex-row mb-10" data-section="main" data-value="projectTitle"
				>
					Proyectos
				</h2>
				<Project />
				<section class="w-full lg:w-[700px] mx-auto py-44">
					<span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="lucide lucide-brush"
							><path
								d="m9.06 11.9 8.07-8.06a2.85 2.85 0 1 1 4.03 4.03l-8.06 8.08"
							></path><path
								d="M7.07 14.94c-1.66 0-3 1.35-3 3.02 0 1.33-2.5 1.52-2 2.02 1.08 1.1 2.49 2.02 4 2.02 2.2 0 4-1.8 4-4.04a3.01 3.01 0 0 0-3-3.02z"
							></path></svg
						>
					</span>
					<h2
						class="text-3xl font-bold flex justify-right flex-row mb-10"
					>
						Skills
					</h2>
				</section>
			</section>
		</section>
	</main>
</Layout>
