<section
    class="flex flex-col gap-y-16 text-pretty"
    data-section="about"
    data-value="description"
>
    Aparte de dedicarme al desarrollo, ocasionalmente me gusta pintar, leer
    historias y escuchar música la mayoría del tiempo (pronto estaré agregando
    por aquí algunas imagenes).
</section>
