---
const currentYear = new Date().getFullYear();
---

<footer class="">
    <div
        class="w-full max-w-screen-xl p-6 sm:flex sm:items-center sm:justify-between"
    >
        <span
            class="text-sm sm:text-center text-black-800/90 light:text-black-200/90"
            >© {currentYear}
            <a href="" class="hover:underline">Juana Solano</a>
        </span>
        <ul class="flex flex-wrap items-end">
            <li>
                <a href="#" class="hover:underline">Contacto</a>
            </li>
        </ul>
    </div>
</footer>
